.chart {
    margin: 20px auto;
}
.bar {
    position: relative;
}
.bar .block {
	background-color: rgba(0,0,0,0.1);
	width: 100%;
}
.bar .block .fill {
	background-color: #999;
	text-indent: 1em;
	color: #fff;
}
.title {
	text-align: center;
	margin-bottom: 20px;
	clear: left;
}
.cols .block {
	float: left;
	background-color: rgba(0,0,0,0.1);
	position: relative;
}
.cols .fill {
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #fff;
}
.cols .label {
	color: #fff;
}
.pie {
	position: relative;
}
.pie .fill, .pie .block {
	position: absolute;
	background-color: $border-color;	
}
.pie .fill {
	background: transparent;
}
.pie .hole {
	display: none;
	background-color: #fff;
    position: absolute;
    z-index: 2;
}